<div class="top_navbar">
  <div class="logo">
    <a href="#">project Basket</a>
  </div>
  <div class="top_menu">
    <div class="home_link">
      <a href="#">
        <span class="icon"><i class="fas fa-home"></i></span>
        <span>Home</span>
      </a>
    </div>
    <div class="right_info">
      <div class="icon_wrap">
        <div class="icon">
          <i class="fas fa-bell"></i>
        </div>
      </div>
      <div class="icon_wrap">
        <div class="icon">
          <i class="fas fa-cog"></i>
        </div>
      </div>
    </div>
  </div>
</div>
