<div class="sidebar_menu">
  <div class="inner__sidebar_menu">

    <ul>
      <li>
        <a href="{% url 'projects' %}" class="Projects">
          <span class="icon"><i class="fas fa-border-all"></i></span>
          <span class="list">Project</span>
        </a>
      </li>
      <li>
        <a href="{% url 'students' %}" class="Students">
          <span class="icon"><i class="fas fa-user-graduate"></i></span>
          <span class="list">Student</span>
        </a>
      </li>
    </ul>

    <div class="hamburger">
      <div class="inner_hamburger">
          <span class="arrow">
              <i class="fas fa-long-arrow-alt-left"></i>
              <i class="fas fa-long-arrow-alt-right"></i>
          </span>
      </div>
    </div>

  </div>
</div>
